.red{
    color: red;
}

.teal{
    color: teal;
}

.crimson{
    color: crimson;
}

.magenta{
    color: magenta;
}

.blue{
    color: blue;
}

.steelblue{
    color: steelblue;
}

.orange{
    color: orange;
}

.purple{
    color: purple;
}

.aqua{
    color: aqua;
}

.pink{
    color: pink;
}

.chocolate{
    color: chocolate;
}